.wrap-cer {
    display: flex;
    margin-top: 80px;
    align-items: center;
    background: #cff6dd;
    color: #1fa750;
}

.cer-item {
    width: 25%;
    text-align: center;

    padding: 20px;
}

.wrap-pre {
    display: flex;
    margin-top: 80px;
    align-items: center;
    background: #1a29ae;
    margin-left: 100px;
    color: #fff;
}

.pre-item {
    width: 50%;
    text-align: center;

    padding: 20px;
}

.wrap-medicine {
    display: flex;
    margin-top: 80px;
    margin-left: 200px;
    align-items: center;
    background: #f49702;
    color: #333;
}

.medicine-item {
    text-align: center;

    padding: 20px;
}

// =================================
body {
    background-color: #eefbfb;
    font-family: sans-serif;
    font-size: 16px;
}

.policy-table {
    color: grey;
    text-align: center;
    margin-left: 140px;
}

.headings,
.policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1em;
}

.heading {
    flex-basis: 33.333%;
    font-weight: bold;
}

.policy {
    border-radius: 2em;
    background-color: white;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 3px grey;
    -webkit-box-shadow: 0 0 3px grey;
    box-shadow: 0 0 5px grey;
}

span {
    flex-basis: 33.333%;
}

a {
    text-decoration: none;
    color: #4c4c4c;
}
