.add-medicine {
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.wrap-pre {
    display: flex;
    margin-top: 80px;
    align-items: center;
}

.pre-item {
    width: 25%;
    text-align: center;
    background: #cff6dd;
    color: #1fa750;
    padding: 20px;
}
